In [8]:
# Challeneges for the next session
# 1-> Dataset:- Agent Performance Report
# For each agent what is the weekly ratiny that you have solvedg (Only for 5 days)

# . Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave
# 1
# . Total working days for each agents
# 2
# Total query that you hvae taken (Done)
# 3.
# total Feedback that you have received (Done)
# 4.
# a agent name who have average rating between 3.5 to 4 (Done)
# 5.
# Agent name who have rating lesss then 3.5 (Done)
# 6.
# agent name who have rating more then 4.5 (Done)
# how many feedaback agents have received more then 4.5 average (Done)
# 8.
# . average weekly response time for each agent (Done)
# 9
# average weekely resolution time for each agents
# 10 .
# list of all agents name (Done)
# 11 .
# percentage of chat on which they have received a feedback (Done)
# 12
# Total contributation hour for each and every agents weekly basis
# 13 .
# total percentage of active hour for a month
# 14.

In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('/content/sample_data/AgentPerformance.csv')

In [11]:
df

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,7/30/2022,Prerna Singh,11,0:00:38,0:04:20,4.11,9
1,2,7/30/2022,Nandani Gupta,11,0:01:15,0:28:25,3.14,7
2,3,7/30/2022,Ameya Jain,14,0:00:30,0:11:36,4.55,11
3,4,7/30/2022,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7
4,5,7/30/2022,Swati,14,0:01:11,0:16:33,3.67,6
...,...,...,...,...,...,...,...,...
2155,2156,7/1/2022,Sowmiya Sivakumar,0,0:00:00,0:00:00,0.00,0
2156,2157,7/1/2022,Nitin M,0,0:00:00,0:00:00,0.00,0
2157,2158,7/1/2022,Vivek,0,0:00:00,0:00:00,0.00,0
2158,2159,7/1/2022,Ayushi Mishra,0,0:00:00,0:00:00,0.00,0
2159,2160,7/1/2022,Chaitra K Hiremath,0,0:00:00,0:00:00,0.00,0

In [12]:
df.dtypes

SL No                        int64
Date                        object
Agent Name                  object
Total Chats                  int64
Average Response Time       object
Average Resolution Time     object
Average Rating             float64
Total Feedback               int64
dtype: object

In [13]:
df.columns

Index(['SL No', 'Date', 'Agent Name', 'Total Chats', 'Average Response Time',
       'Average Resolution Time', 'Average Rating', 'Total Feedback'],
      dtype='object')

In [14]:
df[['Agent Name','Date']]

              Agent Name       Date
0           Prerna Singh  7/30/2022
1          Nandani Gupta  7/30/2022
2             Ameya Jain  7/30/2022
3          Mahesh Sarade  7/30/2022
4                 Swati   7/30/2022
...                  ...        ...
2155   Sowmiya Sivakumar   7/1/2022
2156             Nitin M   7/1/2022
2157              Vivek    7/1/2022
2158       Ayushi Mishra   7/1/2022
2159  Chaitra K Hiremath   7/1/2022

[2160 rows x 2 columns]

In [15]:
df1=pd.read_csv('/content/sample_data/AgentLogingReport.csv')

In [16]:
df1

     SL No               Agent       Date Login Time Logout Time   Duration
0        1  Shivananda Sonwane  30-Jul-22   15:35:29    17:39:39   02:04:10
1        2      Khushboo Priya  30-Jul-22   15:06:59    15:07:16   00:00:17
2        3       Nandani Gupta  30-Jul-22   15:04:24    17:31:07   02:26:42
3        4     Hrisikesh Neogi  30-Jul-22   14:34:29    15:19:35   00:45:06
4        5              Mukesh  30-Jul-22   14:03:15    15:11:52   01:08:36
..     ...                 ...        ...        ...         ...        ...
995    996        Manjunatha A  20-Jul-22   09:03:51    15:02:28   05:58:37
996    997             Bharath  20-Jul-22   09:00:49    15:01:32   06:00:43
997    998      Khushboo Priya  20-Jul-22   08:59:20    14:26:55   05:27:34
998    999        Nishtha Jain  20-Jul-22   08:43:55    14:00:33   05:16:38
999   1000               Tarun  01-Jul-22   01:52:47    12:01:07  514:08:20

[1000 rows x 6 columns]

In [17]:
df1[['Date','Login Time']]

          Date Login Time
0    30-Jul-22   15:35:29
1    30-Jul-22   15:06:59
2    30-Jul-22   15:04:24
3    30-Jul-22   14:34:29
4    30-Jul-22   14:03:15
..         ...        ...
995  20-Jul-22   09:03:51
996  20-Jul-22   09:00:49
997  20-Jul-22   08:59:20
998  20-Jul-22   08:43:55
999  01-Jul-22   01:52:47

[1000 rows x 2 columns]

In [18]:
a = df1.groupby('Agent')

In [19]:
print(a)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7c00de58f160>

In [20]:
df

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,7/30/2022,Prerna Singh,11,0:00:38,0:04:20,4.11,9
1,2,7/30/2022,Nandani Gupta,11,0:01:15,0:28:25,3.14,7
2,3,7/30/2022,Ameya Jain,14,0:00:30,0:11:36,4.55,11
3,4,7/30/2022,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7
4,5,7/30/2022,Swati,14,0:01:11,0:16:33,3.67,6
...,...,...,...,...,...,...,...,...
2155,2156,7/1/2022,Sowmiya Sivakumar,0,0:00:00,0:00:00,0.00,0
2156,2157,7/1/2022,Nitin M,0,0:00:00,0:00:00,0.00,0
2157,2158,7/1/2022,Vivek,0,0:00:00,0:00:00,0.00,0
2158,2159,7/1/2022,Ayushi Mishra,0,0:00:00,0:00:00,0.00,0
2159,2160,7/1/2022,Chaitra K Hiremath,0,0:00:00,0:00:00,0.00,0

In [21]:
# Total number of chats are done
df['Total Chats'].sum()

14720

In [22]:
# Total number of chats done by each person
agent_sum = df.groupby('Agent Name')['Total Chats'].sum()
print(agent_sum)

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    277
Aditya_iot       231
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             44
Wasim            433
Zeeshan          542
Name: Total Chats, Length: 70, dtype: int64

In [23]:
# For verification we have cross checked for one person from the excel sheet
agent_sum = df.groupby('Agent Name')['Total Chats'].sum()['Prerna Singh']
print(agent_sum)

401

In [24]:
df['Total Feedback'].sum()

9259

In [25]:
df.groupby('Agent Name')['Total Feedback'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    153
Aditya_iot       131
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             20
Wasim            284
Zeeshan          335
Name: Total Feedback, Length: 70, dtype: int64

In [26]:
df

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,7/30/2022,Prerna Singh,11,0:00:38,0:04:20,4.11,9
1,2,7/30/2022,Nandani Gupta,11,0:01:15,0:28:25,3.14,7
2,3,7/30/2022,Ameya Jain,14,0:00:30,0:11:36,4.55,11
3,4,7/30/2022,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7
4,5,7/30/2022,Swati,14,0:01:11,0:16:33,3.67,6
...,...,...,...,...,...,...,...,...
2155,2156,7/1/2022,Sowmiya Sivakumar,0,0:00:00,0:00:00,0.00,0
2156,2157,7/1/2022,Nitin M,0,0:00:00,0:00:00,0.00,0
2157,2158,7/1/2022,Vivek,0,0:00:00,0:00:00,0.00,0
2158,2159,7/1/2022,Ayushi Mishra,0,0:00:00,0:00:00,0.00,0
2159,2160,7/1/2022,Chaitra K Hiremath,0,0:00:00,0:00:00,0.00,0

In [34]:
df[(df['Average Rating']>3.5) & (df['Average Rating']<4.0)]

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
4,5,7/30/2022,Swati,14,0:01:11,0:16:33,3.67,6
10,11,7/30/2022,Manjunatha A,11,0:00:47,0:42:56,3.60,5
76,77,7/29/2022,Prateek _iot,8,0:00:36,0:10:41,3.75,4
78,79,7/29/2022,Nandani Gupta,24,0:01:24,0:28:53,3.79,14
80,81,7/29/2022,Jaydeep Dixit,27,0:00:52,0:24:13,3.95,22
...,...,...,...,...,...,...,...,...
1869,1870,7/5/2022,Boktiar Ahmed Bappy,24,0:00:53,0:09:53,3.78,18
1874,1875,7/4/2022,Ayushi Mishra,29,0:01:11,0:17:59,3.80,20
1941,1942,7/4/2022,Jawala Prakash,6,0:00:44,0:02:28,3.80,5
2021,2022,7/2/2022,Aditya Shinde,57,0:01:26,0:19:52,3.54,28
2023,2024,7/2/2022,Deepranjan Gupta,52,0:01:10,0:35:14,3.71,24

In [ ]:
df[(df['Average Rating']>3.5) & (df['Average Rating']<4.0)].loc[0:12:2]

In [47]:
df[(df['Average Rating']>3.5) & (df['Average Rating']<4.0)]['Agent Name']

4                    Swati
10             Manjunatha A
76            Prateek _iot
78            Nandani Gupta
80            Jaydeep Dixit
               ...
1869    Boktiar Ahmed Bappy
1874          Ayushi Mishra
1941         Jawala Prakash
2021          Aditya Shinde
2023       Deepranjan Gupta
Name: Agent Name, Length: 78, dtype: object

In [51]:
df[df['Average Rating']<3.5]['Agent Name']

1            Nandani Gupta
19        Hitesh Choudhary
20              Sanjeevan
21                Anirudh
22        Shiva Srivastava
               ...
2155     Sowmiya Sivakumar
2156               Nitin M
2157                Vivek
2158         Ayushi Mishra
2159    Chaitra K Hiremath
Name: Agent Name, Length: 1474, dtype: object

In [52]:
len(df[df['Average Rating']<3.5]['Agent Name'])

1474

In [53]:
df[df['Average Rating']>4.5]['Agent Name']

2               Ameya Jain
3            Mahesh Sarade
5                  Mukesh
6          Saikumarreddy N
7            Sanjeev Kumar
               ...
2100        Shubham Sharma
2101         Jaydeep Dixit
2102    Shivananda Sonwane
2103        Khushboo Priya
2104       Hrisikesh Neogi
Name: Agent Name, Length: 307, dtype: object

In [54]:
df

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,7/30/2022,Prerna Singh,11,0:00:38,0:04:20,4.11,9
1,2,7/30/2022,Nandani Gupta,11,0:01:15,0:28:25,3.14,7
2,3,7/30/2022,Ameya Jain,14,0:00:30,0:11:36,4.55,11
3,4,7/30/2022,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7
4,5,7/30/2022,Swati,14,0:01:11,0:16:33,3.67,6
...,...,...,...,...,...,...,...,...
2155,2156,7/1/2022,Sowmiya Sivakumar,0,0:00:00,0:00:00,0.00,0
2156,2157,7/1/2022,Nitin M,0,0:00:00,0:00:00,0.00,0
2157,2158,7/1/2022,Vivek,0,0:00:00,0:00:00,0.00,0
2158,2159,7/1/2022,Ayushi Mishra,0,0:00:00,0:00:00,0.00,0
2159,2160,7/1/2022,Chaitra K Hiremath,0,0:00:00,0:00:00,0.00,0

In [57]:
df[df['Average Rating']>4.5]['Total Feedback']

2       11
3        7
5        8
6       12
7        6
        ..
2100    13
2101    13
2102    14
2103    18
2104     9
Name: Total Feedback, Length: 307, dtype: int64

In [58]:
df['Agent Name']

0             Prerna Singh
1            Nandani Gupta
2               Ameya Jain
3            Mahesh Sarade
4                   Swati
               ...
2155     Sowmiya Sivakumar
2156               Nitin M
2157                Vivek
2158         Ayushi Mishra
2159    Chaitra K Hiremath
Name: Agent Name, Length: 2160, dtype: object

In [59]:
df.dtypes

SL No                        int64
Date                        object
Agent Name                  object
Total Chats                  int64
Average Response Time       object
Average Resolution Time     object
Average Rating             float64
Total Feedback               int64
dtype: object

In [61]:
total_feedback = df['Total Feedback'].count()
print(total_feedback)

2160

In [62]:
df['Feedback!=0']=df['Total Feedback']!=0

In [63]:
df

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,Feedback!=0
0,1,7/30/2022,Prerna Singh,11,0:00:38,0:04:20,4.11,9,True
1,2,7/30/2022,Nandani Gupta,11,0:01:15,0:28:25,3.14,7,True
2,3,7/30/2022,Ameya Jain,14,0:00:30,0:11:36,4.55,11,True
3,4,7/30/2022,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7,True
4,5,7/30/2022,Swati,14,0:01:11,0:16:33,3.67,6,True
...,...,...,...,...,...,...,...,...,...
2155,2156,7/1/2022,Sowmiya Sivakumar,0,0:00:00,0:00:00,0.00,0,False
2156,2157,7/1/2022,Nitin M,0,0:00:00,0:00:00,0.00,0,False
2157,2158,7/1/2022,Vivek,0,0:00:00,0:00:00,0.00,0,False
2158,2159,7/1/2022,Ayushi Mishra,0,0:00:00,0:00:00,0.00,0,False
2159,2160,7/1/2022,Chaitra K Hiremath,0,0:00:00,0:00:00,0.00,0,False

In [72]:
P_feedback=df[df['Feedback!=0']!=0]['Feedback!=0'].count()

In [68]:
df['Feedback!=0']

0        True
1        True
2        True
3        True
4        True
        ...
2155    False
2156    False
2157    False
2158    False
2159    False
Name: Feedback!=0, Length: 2160, dtype: bool

In [76]:
percentage = (P_feedback)/(total_feedback)
print(percentage*100)

33.84259259259259

In [77]:
df.dtypes

SL No                        int64
Date                        object
Agent Name                  object
Total Chats                  int64
Average Response Time       object
Average Resolution Time     object
Average Rating             float64
Total Feedback               int64
Feedback!=0                   bool
dtype: object

In [81]:
df.groupby('Agent Name')['Average Response Time'].sum()

AttributeError: ignored

In [82]:
df.dtypes

SL No                        int64
Date                        object
Agent Name                  object
Total Chats                  int64
Average Response Time       object
Average Resolution Time     object
Average Rating             float64
Total Feedback               int64
Feedback!=0                   bool
dtype: object

In [88]:
date = pd.to_datetime(df['Date'])

In [89]:
print(date)

0      2022-07-30
1      2022-07-30
2      2022-07-30
3      2022-07-30
4      2022-07-30
          ...
2155   2022-07-01
2156   2022-07-01
2157   2022-07-01
2158   2022-07-01
2159   2022-07-01
Name: Date, Length: 2160, dtype: datetime64[ns]

In [91]:
df['New Date'] = pd.to_datetime(df['Date'])

In [92]:
df['New Date']

0      2022-07-30
1      2022-07-30
2      2022-07-30
3      2022-07-30
4      2022-07-30
          ...
2155   2022-07-01
2156   2022-07-01
2157   2022-07-01
2158   2022-07-01
2159   2022-07-01
Name: New Date, Length: 2160, dtype: datetime64[ns]

In [96]:
df['Week'] = df['New Date'].dt.week

<ipython-input-96-51acd7bdf2fd>:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['Week'] = df['New Date'].dt.week

In [97]:
df['Week']

0       30
1       30
2       30
3       30
4       30
        ..
2155    26
2156    26
2157    26
2158    26
2159    26
Name: Week, Length: 2160, dtype: int64

In [98]:
df.groupby('Agent Name')['Week'].mean()

Agent Name
Abhishek         28.2
Aditya           28.2
Aditya Shinde    28.2
Aditya_iot       28.2
Amersh           28.2
                 ...
Uday Mishra      28.2
Vasanth P        28.2
Vivek            28.2
Wasim            28.2
Zeeshan          28.2
Name: Week, Length: 70, dtype: float64